@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.rendering-auto {
  image-rendering: auto;
}
.rendering-crisp-edges {
  image-rendering: crisp-edges;
}
.rendering-pixelated {
  image-rendering: pixelated;
}

* {
  font-family: var(--font-sans);
}

.game {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
  
